.container {
  width: 800px;

  margin: 0 auto;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h2,
a {
  color: rgb(24, 170, 24);
}

h3 {
  color: grey;
}

.photo {
  width: 25%;

  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

p {
  text-align: justify;
}

.cours {
  margin-bottom: 15px;
}

.logo {
  width: 8%;
}

.git {
  float: left;
}

.date {
  float: right;
}

.footer {
  text-align: center;

  margin-top: 30px;
  padding: 5px;

  border: 2px solid grey;
  border-radius: 10px;
}
